<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylesheet.css') }}">
  </head>
    <body>
      <header>
        <div class="container">
          <h1>Market Scrapper</h1>
        </div>
      </header>
      <div class="container">
        <section class="search">
          <form>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wyszukaj po nazwie..." title="Type in a name">
          </form>
        </section>
      </div>
      <div>
        {{table}}
      </div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  document.getElementByXpath
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementsByTagName('table')[0];
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
    </body>
</html>
