<!DOCTYPE html>
<html>
<head>
</head>
<body>
     <header>
       <div class="container">
         <h1>{{ product_name }}</h1>
       </div>
     </header>
    <h1>Price today: {{ product_price }}</h1>
    <h1>ROI: {{ product_roi }}</h1>
    <h1>History:</h1>
    {{table}}
</body>
</html>