<!DOCTYPE html>
<html>
<head>
    <title>{{ product_name }}</title>
</head>
<body>
    <h1>{{ product_name }}</h1>
    <h1>{{ utc_dt }}</h2>
    <h1>{{ product_price }}</h3>
    <img src="{{ product_chart_image }}" alt="User Image">
</body>
</html>